@page "/RoomSearch"

@using HotalAppLibrary.Data;
@using HotalAppLibrary.Models;

@inject IDatabaseData _db

<MudGrid>
    <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <h1>Room Search</h1>
        </MudPaper>
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <h3>Select date to view the available rooms</h3>
        </MudPaper>

        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <MudDatePicker Label="Start Date" @bind-Date="@startDate" DisableToolbar="true" Class="pa-md-6 mx-lg-auto align-center" />
            <MudDatePicker Label="End Date" @bind-Date="@endDate" DisableToolbar="true" Class="pa-md-6 mx-lg-auto align-center" />
            <MudButton ButtonType="ButtonType.Submit" OnClick="searchOnClick" Variant="Variant.Filled" Color="Color.Primary">Search</MudButton>
        </MudPaper>
    </MudItem>
</MudGrid>

<br />
<h1>Available Rooms List</h1>
<br />

<MudTable Items="@availableRooms" Hover="true" >
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Title</MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Price</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="id">@context.Id</MudTd>
        <MudTd DataLabel="title">@context.Title</MudTd>
        <MudTd DataLabel="description">@context.Description</MudTd>
        <MudTd DataLabel="price">@context.Price</MudTd>
        <MudLink Underline="Underline.Always"  OnClick="bookNowOnClick">Book Now</MudLink>
    </RowTemplate>
</MudTable>

@code 
{
    private DateTime? startDate { get; set; } 
    private DateTime? endDate { get; set; }
    private List<RoomTypesModel>? availableRooms { get; set; }
    private bool _loading;


    protected override async Task OnInitializedAsync()
    {
        startDate = DateTime.Today;
        endDate = DateTime.Today.AddDays(1);

    }
    void searchOnClick()
    {
        availableRooms = _db.GetAvailableRoomTypes(endDate.Value.Date, endDate.Value.Date);
    }

    void bookNowOnClick()
    {
        
    }

}
